<!-- desktop nav -->
<header class="">
  <div class="nav-trigger" onclick="navToggle()">
    <img class="trigger-open" src="{{site.baseurl}}/images/nav-open.svg" />
  </div>
  <nav>
    <a href="{{site.baseurl}}/" class="button">
      <h5>Home</h5>
    </a>
    <a href="{{site.baseurl}}/stories" class="button">
      <h5>Stories</h5>
    </a>
    <a href="{{site.baseurl}}/contact" class="button">
      <h5>Contact</h5>
    </a>
  </nav>
  <a href="{{site.baseurl}}/policy" class="button success round">
    <h5>Terms and Conditions</h5>
  </a>
</header>